* {
    margin: 0;
    padding: 0;
   
    font-family: 'Lora', serif;
}

body {
    background: url('../images/techno.jpg') ; 
    background-repeat: no-repeat; 
    background-size: cover;
    height: 100vh;
}
  
  a {
     text-decoration: none;
  }

.centerdiv{
    width: 355px;
    height: 580px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #477dc7;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 35px;
    box-shadow: 2px 4px 4px 1px #cccc;
   
   }
  
#profilepic{
    width: 120px;
    margin-top: 40px;
}

.heading{
    padding: 15px 0px;
    text-align: center;
    color:white;
    margin: 40px 0px;
    background-color: rgb(71,101,199);
    font-size: x-large;
    font-family: 'Trebuchet MS', sans-serif;
    box-shadow: 0px 0px 1px 1px #f0ad4e;
    
}
   
.data_values{
    margin-top: 60px;
}

   .inputbox{
    width: calc(100% - 60px);
    height: 30px;
    display: block;
    margin: auto;
    padding: 0 10px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 2px solid #ccc;
   }

   .inputbox:focus{
        outline: none;
   }
   
   ::placeholder{
    letter-spacing: 2px;
    color: black;
   }
   
   button{
    width: calc(100% - 60px);
    height: 35px;
    display: block;
    margin: auto;
    background-color: #f0ad4e;
    border: none;
    border-radius: 3px;
    color: white;
    letter-spacing: 0.4rem;
    font-weight: 800;
    outline: none;
    cursor: pointer;
    
   }
  
  button {
   transition-duration: 0.2s;
 }
 
 button:hover {
   background-color:#8B4513;
 }
 
 button:active {
   background-color: #f0ad4e;
   box-shadow: 0 5px gray;
   transform: translateY(3px);
}

   
   
   
   .account {
    color: white;
    text-align: center;
   }


    a:visited, a:active, a:link{
       text-decoration: none;
       color: white;
   }

   a:hover{
        color: #c9c9c9;
        letter-spacing: 2px;
    }

   p{
       text-align: center;
       color: #ccc;
       margin-top: 30px;
   }

   .footer{
       text-align: center;
       color: #c1c1c5;
       margin-top: 2px;
   }
   /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) 
{
    .centerdiv{ width: 90%}
  }

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) 
{
    .centerdiv{ width: 70% }
  }

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) 
{
    .centerdiv{ width: 60% }
  }

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) 
{
    .centerdiv{ width: 40% }
  }

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) 
{
    .centerdiv{ width: 30% }
  }

  